<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="contact" ng-controller="contactController">
    <div class="w-100">
        <h2 class="mb-5">Contact me</h2>
        <form name="emailForm" ng-submit="sendEmail()" ng-if="!sendingEmail">
            <md-input-container class="w-100">
                <label class="labelEmail"><i class="fas fa-at"></i> E-MAIL</label>
                <input type="email" name="email" ng-model="email.email" required="" ng-pattern="/^.+@.+\..+$/" autocomplete="off">
                <div ng-messages="emailForm.email.$error" role="alert">
                    <div ng-message-exp="['required', 'pattern']"> Email field is required and must be valid. </div>
                </div>
            </md-input-container>
            <md-input-container class="w-100">
                <label class="labelEmail">SUBJECT</label>
                <input type="text" name="subject" ng-model="email.subject" required="" md-maxlength="30" autocomplete="off">
                <div ng-messages="emailForm.subject.$error">
                    <div ng-message-exp="['required', 'maxlength']"> Subject field is required and must be less than 30 characters long. </div>
                </div>
            </md-input-container>
            <md-input-container class="w-100">
                <label class="labelEmail">MESSAGE</label>
                <textarea name="message" ng-model="email.message" required="" md-maxlength="150" rows="3" md-select-on-focus=""></textarea>
                <div ng-messages="emailForm.message.$error">
                    <div ng-message-exp="['required', 'maxlength']"> Message field is required and must be less than 150 characters long. </div>
                </div>
            </md-input-container>
            <md-input-container class="w-100 text-center mb-0">
                <md-button type="submit" class="md-raised md-cornered" ng-disabled="emailForm.$invalid">&nbsp;Send <i class="far fa-envelope"></i> &nbsp;</md-button>
            </md-input-container>
        </form>
        <div class="col-12 text-center" ng-if="sendingEmail">
            <img alt="sending.." src="media/img/plane.gif" class="gif">
        </div>
    </div>
</section>